<div class="cyan">
<form id="search_form" class="col s12">
	<div class="row">
		<div class="input-field col s12">
		  <i class="material-icons prefix " style="color:white;">search</i>

		  <input required name="blood" id="blood" type="text" class="validate">
		  <input name="currentCity" id="currentCity" type="hidden"  />
		  <label for="blood" style="color:white;">Search By Blood Group</label>

		</div>
		<!-- <div class="input-field col s3">
		  <input name="search" id="search" type="submit"  class="btn waves-effect validate">
		 </div> -->
	</div>
</form>	
</div>
<div class="row" style="margin-top:-21px;">
<div class="col s12 " style="padding:0px;position:fixed;z-index:997;">
  <ul class="tabs" >
    <li class="tab col s3"><a class="active" href="#banks">Blood Banks</a></li>
    <li class="tab col s3"><a href="#alldonors">Donors</a></li>
  </ul>
</div>
<div id="banks" class="col s12" style="margin-top:50px;">

<ul class="collection" id="bank_list">
 
</ul>	
</div>
<div id="alldonors" class="col s12" style="margin-top:50px;">

<ul class="collection" id="donor_list">
 
</ul>
         
</div>
</div>


