<div id="content">
<div class="row">

<form class="col s12" id="donor_form">
  <div class="row">
    <div class="input-field col s12">
      <input  name ="name" id="name" type="text" class="validate">
      <label for="name">Name</label>
    </div>
  </div>
   <div class="row">
    <div class="input-field col s12">
      <input  name ="stno" id="stno" type="text" class="validate">
      <label for="stno">Street no.</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input  name ="bno" id="bno" type="text" class="validate">
      <label for="bno">Building no.</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input name ="area" id="area" type="text" class="validate">
      <label for="area">Area</label>
    </div>
  </div>
  <div class="input-field col s12">
    <select name="country" class="countries browser-default" id="countryId">
    <option value="">Select Country</option>
    </select>
  </div>
  <div class="input-field col s12">
       <select name="state" class="states browser-default" id="stateId">
    <option value="">Select State</option>
    </select>
  </div>

  <div class="input-field col s12">
       <select name="city" class="cities browser-default" id="cityId">
    <option value="">Select City</option>
  </select>
  </div>
   
  <div class="row">
    <div class="input-field col s12">
      <input  name ="cno" id="cno" type="text" class="validate">
      <label for="cno">Contact No</label>
    </div>
  </div>
  <div clas="row">
    <div class="input-field col s12">
      <select name="bgroup" required> 
        <option value="" disabled selected>Choose your Blood Group</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
      <label>Materialize Select</label>
    </div>
  </div>
   <div class="row">
    <div class="input-field col s12">

      <input  name ="dob" id="dob" type="date"  class="datepicker validate">

    </div>
  </div>
<!--   <div class="row">
    <div class="input-field col s12">
      <input  name ="uname" id="uname" type="text" class="validate">
      <label for="uname">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input name="pass" id="pass" type="password" class="validate">
      <label for="pass">Password</label>
    </div>
  </div> -->
  <div class="row">
    <div class="input-field col s12">
      <input name="register" id="register" type="submit" class="waves-effect btn">
      </div>
  </div>
</form>
</div>
</div>
<!-- <script src="http://lab.iamrohit.in/js/location.js"></script> -->
<script type="text/javascript">alert("loaded script");</script>